# Geospatial Data 

### Part 3 of n
# Structured Query Language (SQL)
### Talking to a Database through Queries

## Reminder
<a href="#/slide-2-0" class="navigate-right" style="background-color:blue;color:white;padding:8px;margin:2px;font-weight:bold;">Continue with the lesson</a>

<br>
</br>
<font size="+1">

By continuing with this lesson you are granting your permission to take part in this research study for the Hour of Cyberinfrastructure: Developing Cyber Literacy for GIScience project. In this study, you will be learning about cyberinfrastructure and related concepts using a web-based platform that will take approximately one hour per lesson. Participation in this study is voluntary.

Participants in this research must be 18 years or older. If you are under the age of 18 then please exit this webpage or navigate to another website such as the Hour of Code at https://hourofcode.com, which is designed for K-12 students.

If you are not interested in participating please exit the browser or navigate to this website: http://www.umn.edu. Your participation is voluntary and you are free to stop the lesson at any time.

For the full description please navigate to this website: <a href="../../gateway-lesson/gateway/gateway-1.ipynb">Gateway Lesson Research Study Permission</a>.

</font>

In [ ]:
# This code cell starts the necessary setup for Hour of CI lesson notebooks.
# First, it enables users to hide and unhide code by producing a 'Toggle raw code' button below.
# Second, it imports the hourofci package, which is necessary for lessons and interactive Jupyter Widgets.
# Third, it helps hide/control other aspects of Jupyter Notebooks to improve the user experience
# This is an initialization cell
# It is not displayed because the Slide Type is 'Skip'

from IPython.display import HTML, IFrame, Javascript, display
from ipywidgets import interactive
import ipywidgets as widgets
from ipywidgets import Layout

import getpass # This library allows us to get the username (User agent string)

# import package for hourofci project
import sys
sys.path.append('../../supplementary') # relative path (may change depending on the location of the lesson notebook)
# sys.path.append('supplementary')
import hourofci
try:
    import os
    os.chdir('supplementary')
except:
    pass

# load javascript to initialize/hide cells, get user agent string, and hide output indicator
# hide code by introducing a toggle button "Toggle raw code"
HTML(''' 
    <script type="text/javascript" src=\"../../supplementary/js/custom.js\"></script>
    
    <style>
        .output_prompt{opacity:0;}
    </style>
    
    <input id="toggle_code" type="button" value="Toggle raw code">
''')

In [ ]:
import displaydatabases
from questiondisplay import QueryWindow
disp = displaydatabases.Display()
disp.displayDatabases

#### Filter Records with where clause

The where clause is used to extract records that meets a specified condition.

The syntax for where clause is 

```mysql
SELECT column1, column2, ..columnN
FROM table_name
WHERE condition;
```

Let's look at some concrete examples

**6. From film table select films having length more than 100 minutes**

In [ ]:
QueryWindow(6).display()

**7. Select all actors with first name JENNIFER FROM actor table**

In [ ]:
QueryWindow(7).display()

**8. Select all employees from the employees table who are from Calgary city**

In [ ]:
QueryWindow(8).display()

##### AND, OR, NOT for filtering based on multiple conditions

The AND and OR operators are used for filtering records based on more than one condition.

The AND operator displays a record if **all the conditions separated by AND are True**

The **syntax for AND operator** is 

```mysql
SELECT column1, column2, ..columnN
FROM table_name
WHERE condition1 AND condition2 AND condition3...
```

The OR operator displays a record if **any of the conditions separated by OR is True**.

The **syntax for OR operator** is 

```mysql
SELECT column1, column2, ..columnN
FROM table_name
WHERE condition1 OR condition2 OR condition3...
```

The NOT operator displays a record if the **condition(s) is NOT TRUE**.

The **syntax for NOT operator** is 

```mysql
SELECT column1, column2, ..columnN
FROM table_name
WHERE NOT condition;
```
Lets look at some examples

**9. Retrieve employees with title as Sales Manager *and* city as Calgary**

In [ ]:
QueryWindow(9).display()

**10. Retrieve all films from film table with length greater than 100 minutes and rating equals to PG**

In [ ]:
QueryWindow(10).display()

**11. Retrieve all films from film table with length greater than 100 minutes *or* rating equals to PG**

In [ ]:
QueryWindow(11).display()

**12. Select all invoices from invoices table where BillingCountry is either Canada and USA**

In [ ]:
QueryWindow(12).display()

**13. Select all invoices from invoices table where Total is greater than 1 and less than 5 or total greater than 10 and less than 100**

In [ ]:
QueryWindow(13).display()

**14. Select all invoices from invoices table that have BillingCountry other than Canada**

In [ ]:
QueryWindow(14).display()

#### Order records using Order By

Order by keyword is used to **sort query results by ascending or descending**

The syntax for Order by is 

```mysql
SELECT column1, column2, ..columnN
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;
```

Lets look at some examples

**15. Select first_name and last_name from actor table and sort by actor first_name ascending**

In [ ]:
QueryWindow(15).display()

**16. Sort payment table by amount in descending order**

In [ ]:
QueryWindow(16).display()

**17. Select first_name and last_name from actor table and sort by actor first_name ascending and actor last_name descending**

In [ ]:
QueryWindow(17).display()

#### Finding Minimum, Maximum, Average, Sum and Count for Columns

Aggregate functions **min(), max(), avg(), sum(), and count()** can be used to find the Minimum, Maximum, Average, Sum and Count for a selected column

Syntax for **min()**

```mysql
SELECT MIN(column_name) FROM table_name
```

Syntax for **max()**

```mysql
SELECT MAX(column_name) FROM table_name
```

Syntax for **avg()**

```mysql
SELECT AVG(column_name) FROM table_name
```

Syntax for **sum()**

```mysql
SELECT sum(column_name) FROM table_name
```

Syntax for **count()**

```mysql
SELECT count(column_name) FROM table_name
```

Let's look at some concrete examples

**18. Select minimum amount from payment table.**

In [ ]:
QueryWindow(18).display()

**19. Select maximum amount from payment table.**

In [ ]:
QueryWindow(19).display()

**20. Select average amount from payment table.**

In [ ]:
QueryWindow(20).display()

**21. Select total amount from payment table.**

In [ ]:
QueryWindow(21).display()

**22. Select how many records in payment table.**

In [ ]:
QueryWindow(22).display()

**23. Select grant total of Total from invoices where BillingCountry is Germany.**

In [ ]:
QueryWindow(23).display()

**24. Select total number of employees with a title General Manager from employees table**

In [ ]:
QueryWindow(24).display()

**25. Select total number of employees with a Country Canada from employees table**

In [ ]:
QueryWindow(25).display()



<font size="+1"><a style="background-color:blue;color:white;padding:12px;margin:10px;font-weight:bold;" href="dbms-4.ipynb">Click here to go to the next notebook.</a></font>