# Geospatial Data 

### Part 4 of n
# Structured Query Language (SQL)
### Talking to a Database through Queries 

### DQL and DML

## Reminder
<a href="#/slide-2-0" class="navigate-right" style="background-color:blue;color:white;padding:8px;margin:2px;font-weight:bold;">Continue with the lesson</a>

<br>
</br>
<font size="+1">

By continuing with this lesson you are granting your permission to take part in this research study for the Hour of Cyberinfrastructure: Developing Cyber Literacy for GIScience project. In this study, you will be learning about cyberinfrastructure and related concepts using a web-based platform that will take approximately one hour per lesson. Participation in this study is voluntary.

Participants in this research must be 18 years or older. If you are under the age of 18 then please exit this webpage or navigate to another website such as the Hour of Code at https://hourofcode.com, which is designed for K-12 students.

If you are not interested in participating please exit the browser or navigate to this website: http://www.umn.edu. Your participation is voluntary and you are free to stop the lesson at any time.

For the full description please navigate to this website: <a href="../../gateway-lesson/gateway/gateway-1.ipynb">Gateway Lesson Research Study Permission</a>.

</font>

In [ ]:
# This code cell starts the necessary setup for Hour of CI lesson notebooks.
# First, it enables users to hide and unhide code by producing a 'Toggle raw code' button below.
# Second, it imports the hourofci package, which is necessary for lessons and interactive Jupyter Widgets.
# Third, it helps hide/control other aspects of Jupyter Notebooks to improve the user experience
# This is an initialization cell
# It is not displayed because the Slide Type is 'Skip'

from IPython.display import HTML, IFrame, Javascript, display
from ipywidgets import interactive
import ipywidgets as widgets
from ipywidgets import Layout

import getpass # This library allows us to get the username (User agent string)

# import package for hourofci project
import sys
sys.path.append('../../supplementary') # relative path (may change depending on the location of the lesson notebook)
# sys.path.append('supplementary')
import hourofci
try:
    import os
    os.chdir('supplementary')
except:
    pass

# load javascript to initialize/hide cells, get user agent string, and hide output indicator
# hide code by introducing a toggle button "Toggle raw code"
HTML(''' 
    <script type="text/javascript" src=\"../../supplementary/js/custom.js\"></script>
    
    <style>
        .output_prompt{opacity:0;}
    </style>
    
    <input id="toggle_code" type="button" value="Toggle raw code">
''')

In [ ]:
import displaydatabases
from questiondisplay import QueryWindow
disp = displaydatabases.Display()
disp.displayDatabases

#### Grouping Records together by Group By statement

The Group By statement is used to **arrange identical data into groups**. The group by clause follows the where clause (if it's present) and precedes the order by clause (if it's present). For example you want to aggregate the total number of invoices by Country, or you want to get the count of employees with different Title (how many General Manager, Sales Manager etc)

The Group By statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.

The syntax for Group By statement

```mysql
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);
```

The where condition and order by are optional and depends up on the use-case.

Let's look at some examples

**26. Select sum Total of invoices for each BillingCountry**

In [ ]:
QueryWindow(26).display()

**27. Select number of invoices for each BillingCountry**

In [ ]:
QueryWindow(27).display()

**28. select average length of films from film table grouped on rating.**

In [ ]:
QueryWindow(28).display()

**29. Select maximum rental_rate of films from film table grouped on rating.**

In [ ]:
QueryWindow(29).display()

**30. Select average rental_rate for each rating for each release_year.**

In [ ]:
QueryWindow(30).display()

**31. Select total number of invoices for each BillingCity for the BillingCountry Germany.**

In [ ]:
QueryWindow(31).display()

**32. Select sum total of Total for invoices for each BillingCity for the BillingCountry Germany and order the records by the sum total in descending order.**

In [ ]:
QueryWindow(32).display()

#### Aliases for providing Temporary Name

Aliases are used to give a **table or column in a table a temporary name**. Most of the time aliases are used to make the **query more readable**. Aliases **only exists until the query is running**.  

The syntax for column alias is 

```mysql
SELECT column_name AS alias_name
FROM table_name;
```

And syntax for table alias is 

```mysql
SELECT column_name
FROM table_name as alias_name;
```

Let's look at some examples

**33. Select sum total of Total for invoices for each BillingCity for the BillingCountry Germany and order the records by the sum total in descending order. Name the sum total of Total as TotalAmount**

In [ ]:
QueryWindow(33).display()

**34. Select total number of invoices for each BillingCity for the BillingCountry Germany. Name the total number of invoices column as TotalInvoices**

In [ ]:
QueryWindow(34).display()

For **table aliases** here are some examples,

```mysql
select * from invoices as i
```
We can use **(.)** *operator* for accessing columns when using tale aliases.

```mysql
select i.InvoiceId,i.BillingCountry from invoices as i
```

Even when you are not using alias operator, the full qualified column name can be used to refer to columns. For example

```mysql
select invoices.InvoiceId,invoices.BillingCountry from invoices
```

Such full qualified names are paticularly useful when you are using multiple tables with same column names (mostly in Join queries) in a single query.

#### Join for Combining Multiple Tables

A join clause is used to **combine records from multiple tables using related columns between them.** It is one of the most powerful operation in a relational database (joining based on relations).

##### Inner Join

For inner join **records that have matching values in both tables will only be retrieved**.  

![innerjoin](supplementary/innerjoin.PNG)

The syntax for inner join is 

```mysql
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name
```

Inner join can also be written without an explicit inner join clause

```mysql
SELECT column_name(s)
FROM table1,table2
where table1.column_name = table2.column_name
```

Let's look at an example

**35. Display the city along with country from city and country table.**

In [ ]:
QueryWindow(35).display()

**36. Select title and actor first_name and actor last_name for all the films from film, actor and film_actor tables**

In [ ]:
QueryWindow(36).display()

**37. Select title of all English movies from film table**

In [ ]:
QueryWindow(37).display()

**38. Select artist Name and the total number of albums composed by them as TotalAlbums**

In [ ]:
QueryWindow(38).display()

**39. select customers first_name and last_name and the total amount they spend as TotalAmount. Sort the results by total amount in descending order.**

In [ ]:
QueryWindow(39).display()

**40. select customers first_name and last_name and the total number of rentals they had as TotalRentals. Sort the results by total rentals in descending order.**

In [ ]:
QueryWindow(40).display()

### Manipulating Data in a Database (Data Manipulation Language (DML))

#### Inserting New Records to a Table

The syntax for inserting records to a table is 

```mysql
INSERT INTO table_name (column1, column2, column3, ..columnN)
VALUES (value1, value2, value3, ..valueN)
```

#### Deleting Records from a Table

The syntax for deleting records from a table is 

```mysql
DELETE FROM table_name WHERE condition;
```

In [ ]:
disp.displayDatabases



<font size="+1"><a style="background-color:blue;color:white;padding:12px;margin:10px;font-weight:bold;" href="dbms-5.ipynb">Click here to go to the next notebook.</a></font>