## Geospatial Data 

### Part 2 of n
# Structured Query Language (SQL)
### Talking to a Database through Queries

## Reminder
<a href="#/slide-2-0" class="navigate-right" style="background-color:blue;color:white;padding:8px;margin:2px;font-weight:bold;">Continue with the lesson</a>

<br>
</br>
<font size="+1">

By continuing with this lesson you are granting your permission to take part in this research study for the Hour of Cyberinfrastructure: Developing Cyber Literacy for GIScience project. In this study, you will be learning about cyberinfrastructure and related concepts using a web-based platform that will take approximately one hour per lesson. Participation in this study is voluntary.

Participants in this research must be 18 years or older. If you are under the age of 18 then please exit this webpage or navigate to another website such as the Hour of Code at https://hourofcode.com, which is designed for K-12 students.

If you are not interested in participating please exit the browser or navigate to this website: http://www.umn.edu. Your participation is voluntary and you are free to stop the lesson at any time.

For the full description please navigate to this website: <a href="../../gateway-lesson/gateway/gateway-1.ipynb">Gateway Lesson Research Study Permission</a>.

</font>

In [52]:
# This code cell starts the necessary setup for Hour of CI lesson notebooks.
# First, it enables users to hide and unhide code by producing a 'Toggle raw code' button below.
# Second, it imports the hourofci package, which is necessary for lessons and interactive Jupyter Widgets.
# Third, it helps hide/control other aspects of Jupyter Notebooks to improve the user experience
# This is an initialization cell
# It is not displayed because the Slide Type is 'Skip'

from IPython.display import HTML, IFrame, Javascript, display
from ipywidgets import interactive
import ipywidgets as widgets
from ipywidgets import Layout

import getpass # This library allows us to get the username (User agent string)

# import package for hourofci project
import sys
sys.path.append('../../supplementary') # relative path (may change depending on the location of the lesson notebook)
# sys.path.append('supplementary')
import hourofci
try:
    import os
    os.chdir('supplementary')
except:
    pass

# load javascript to initialize/hide cells, get user agent string, and hide output indicator
# hide code by introducing a toggle button "Toggle raw code"
HTML(''' 
    <script type="text/javascript" src=\"../../supplementary/js/custom.js\"></script>
    
    <style>
        .output_prompt{opacity:0;}
    </style>
    
    <input id="toggle_code" type="button" value="Toggle raw code">
''')

### Database languages :

#### 1) Data definition language(DDL) :
DDL is used to define database objects .The conceptual schema is
specified by a set of definitions expressed by this language. It also give some
details about how to implement this schema in the physical devices used to store
the data. This definition includes all the entity sets and their associated attributes
and their relation ships. The result of DDL statements will be a set of tables that
are stored in special file called data dictionary.
#### 2) Data manipulation language(DML) :
A DML is a language that enables users to access or manipulate data stored in
the database. Data manipulation involves retrieval of data from the database,
insertion of new data into the database and deletion of data or modification of
existing data.

#### 3) Data control language(DCL):
This language enables users to grant authorization and canceling
authorization of database objects.
#### 4) Data Query Language (DQL):
DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it. Although often considered part of DML, the SQL `SELECT` statement is strictly speaking an example of DQL. When adding `FROM` or `WHERE` data manipulators to the `SELECT` statement the statement is then considered part of the DML. 

### Here we will focus on DDL and DQL languages!

### DDL: Creating and Deleting Databases and Tables


#### Creating a new Database
The general syntax for creating a new database is

```mysql
CREATE DATABASE databasename;
```

#### Dropping/Deleting a Database
The general syntax for dropping database is

```mysql
DROP DATABASE databasename;
```

#### Creating a new Table
The general syntax for creating a Table

```mysql
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
)
```

#### Dropping existing Table
The general syntax for dropping an existing Table

```mysql
drop table table_name
```

### DQL: Querying a database

In [ ]:
import displaydatabases
from questiondisplay import QueryWindow
disp = displaydatabases.Display()
disp.displayDatabases

### Select Statement
>**Select statement** is used to **retrieve data from a Database** 

The **syntax** for **select statement** is 

```mysql
select column1,column2..columnN from table_name
```

Where column1, column2 are the columns that you want to select from the table (with name table_name)

##### Select All Columns from a Table
The syntax for selecting all columns from a table is

```mysql
select * from table_name
```
The <b>*</b> symbol indicates that we would want all the columns from the table. 

Let's see some concrete example.

**1. Select all columns from actor table**

In [ ]:
QueryWindow(1).display()

**2. Select all columns from staff table**

In [ ]:
QueryWindow(2).display()

##### Select subset of columns from a table

The syntax for selecting subset of columns from a table is

```mysql
select column1,column2...columnN from table_name
```
Let's see some concrete example.

**3. Select staff_id,first_name and last_name from staff table**

In [ ]:
QueryWindow(3).display()

**4. Select first_name and last_name from actor table**

In [ ]:
QueryWindow(4).display()

##### Select distinct values from a column

The **syntax** for **select distinct statement** is 

```mysql
select distinct column1,column2..columnN from table_name
```

Where column1, column2, columnN are the columns that you want to select from the table (with name table_name) and only distinct values for column1 will be selected

Let's see some concrete example.

**5. Select the unique set of cities from employees table**

In [ ]:
QueryWindow(5).display()



<font size="+1"><a style="background-color:blue;color:white;padding:12px;margin:10px;font-weight:bold;" href="dbms-3.ipynb">Click here to go to the next notebook.</a></font>